<% layout('layouts/boilerplate') -%>
    <div class="container">
        <h1>Log In</h1>
        <form action="http://localhost:3000/users/login" method="post" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" id="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1" required>
            </div>
            <button type="submit" class="btn btn-primary">Log in</button>
        </form>
    </div>